<div class="modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" ng-show="!hideClose">×</button>
    <h4>Articles for {{reset.title}}</h4>
  </div>
  <form ng-submit="saveArticleLoads()">
    <div class="modal-body">
      <div class="row-fluid">
        <div class="span6">
          <h6 style="padding-top: 0; margin-top: 0">{{resetType}}</h6>
          <select class="span8" ng-model="reset.object" ng-options="object.dbo_id for object in objects" required="true" autofocus="true">
          </select>
        </div>
        <div class="span6">
          <label>Count</label>
          <input class="input-small" type="number" ng-model="reset.count" required="true" min="1"/>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span8" style="min-height: 132px; padding-top:4px">
          <p><em>{{reset.objects.title}}</em></p>
          <p>{{reset.object.desc}}</p>
        </div>
        <div class="span4">
          <label>Max</label>
          <input class="input-small" type="number" ng-model="reset.max" required="true" min="1"/>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span8">
          <h6>Source Area</h6>
          <select class="span6" ng-model="areaId" ng-change="changeArea()" ng-options="tempAreaId for tempAreaId in areaList" required="true"></select>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-success">Update Article Loads</button>
      <button ng-click="dismiss()" class="btn">Cancel</button>
    </div>
  </form>
</div>