<div class="modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" ng-show="!hideClose">×</button>
    <h4>Articles for {{reset.title}}</h4>
  </div>
  <form ng-submit="saveArticleLoads()">
    <div class="modal-body">
      <div class="row-fluid">
        <div class="span6">
          <table class="table table-condensed" >
            <thead>
            <tr>
              <th class="span3">Article</th>
              <th class="span3">Load Type</th>
              <th class="span3 cell-right">Count</th>
              <th class="span1"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="edit-row table-bordered" ng-repeat="article_load in reset.article_loads" >
              <td class="span3 unselectable">{{article_load.article_id}}</td>
              <td class="span3 unselectable edit-cell">{{article_load.type}}</td>
              <td class="span3 unselectable edit-cell"><input class="input-small" type="number" ng-model="article_load.count"  min="1"/></td>
              <td class="span1"><a ng-click="deleteObject($event, article)" title="Delete Article Load" class="icon-link"><i class="icon-remove"></i></a></td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="span6">
          <div class="row-fluid">
            <div class="span8" style="min-height: 132px; padding-top:4px">
              <label>Article to Add</label>
              <p><em>{{reset.objects.title}}</em></p>
              <p>{{reset.object.desc}}</p>
              <h6>Source Area</h6>
              <select class="span6" ng-model="areaId" ng-change="changeArea()" ng-options="tempAreaId for tempAreaId in areaList" required="true"></select>
            </div>
            <div class="span4">
              <button class="btn btn-success">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-success">Update Article Loads</button>
      <button ng-click="dismiss()" class="btn">Cancel</button>
    </div>
  </form>
</div>