<div class="modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()" ng-show="!hideClose">×</button>
        <h4>Forgot Account or Player Name</h4>
    </div>
    <form ng-submit="submitRequest()">
      <div class="modal-body">
        <label>Enter your email address and we will send an email with your account and player names.</label>
        <input class="input-large" type="text" ng-model="info" ng-change="showError = false" required />
      </div>
       <div class="alert alert-error" ng-show="showError">
          <button type="button" class="close" ng-click="showError = false">×</button>
          No account associated with this email address.
        </div>
      <div class="modal-footer">
          <button type="submit" class="btn btn-primary">Request Names</button>
          <button class="btn" ng-click="dismiss()">Cancel</button>
      </div>
    </form>
</div>