<div class="modal" ng-class="modalClass">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" ng-show="!hideClose">×</button>
    <h4>New Mobile Reset (Room: {{roomId}})</h4>
  </div>
  <form ng-submit="createReset()">
    <div class="modal-body">
      <div class="row-fluid">
        <div class="span8">
          <h6 style="padding-top: 0; margin-top: 0">Mobile</h6>
          <select class="span8" ng-model="reset.mobile" ng-options="mobile.dbo_id for mobile in mobiles" required="true" autofocus="true">
          </select>
        </div>
        <div class="span4">
          <label>Count</label>
          <input class="input-small" type="number" ng-model="reset.count" required="true" min="1"/>

        </div>
      </div>
      <div class="row-fluid">
        <div class="span8" style="min-height: 132px; padding-top:4px">
          <p><em>{{reset.mobile.title}}</em></p>
          <p>{{reset.mobile.desc}}</p>
        </div>
        <div class="span4">
          <label>Max</label>
          <input class="input-small" type="number" ng-model="reset.max" required="true" min="1"/>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-success">Create Reset</button>
      <button ng-click="dismiss()" class="btn">Cancel</button>
    </div>
  </form>
</div>