<div class="modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()" ng-show="!hideClose">×</button>
        <h3>{{title}}</h3>
    </div>
    <form ng-submit="doSubmit()">
      <div class="modal-body">
        <label>{{prompt}}</label>
        <input type="password" ng-model="promptValue" ng-show="inputType == 'password'" autofocus/>
        <input type="text" ng-model="promptValue" ng-show="inputType == 'text'" autofocus/>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button class="btn" ng-click="dismiss()">Cancel</button>
      </div>
    </form>
</div>