<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Area Id</label> <input ng-disabled="!isNew" type="text" class="form-control input-sm"
          ng-model="model.dbo_id" required="true"/>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Owner Id</label> <input type="text" class="form-control input-sm"
          ng-model="model.owner_id" disabled/>
        </div>
      </div>

    </div>
    <div class="row">
       <div class="col-md-8">
        <div class="form-group">
          <label class="control-label">Area Name</label> <input class="form-control input-sm" type="text"
          ng-model="model.name" required="true"/>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">Next Room Id</label> <input class="form-control input-sm" type="number"
          ng-model="model.next_room_id" required="true"/>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4">
        <div class="form-group" title="Allow any immortal to edit this area.">
          <label class="control-label">
          <input type="checkbox" ng-model="model.unprotected">
            Open Edit</label>
        </div>
      </div>
    </div>

  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label class="control-label">Description</label> <textarea class="form-control col-md-12" rows="6"
      ng-model="model.desc"></textarea>
    </div>
  </div>
</div>
