<div class="col-md-9">
  <div class="panel panel-primary">
    <div class="panel-heading">
      Area
    </div>
    <lm-outside-edit></lm-outside-edit>
    <div class="panel-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Area Name</label> <input type="text" class="form-control input-sm"
            ng-model="model.name" required="true"/>
          </div>
          <div class="form-group">
            <label class="control-label">Next Room</label> <input class="form-control input-sm" type="number"
            ng-model="model.next_room_id" required="true"/>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Description</label> <textarea class="form-control col-md-12" rows="6"
            ng-model="model.desc"></textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


