<div ng-controller="ArticleEditorCtrl">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Article Id</label>
            <input ng-if="isNew" class="form-control input-sm" type="text" ng-model="model.dbo_id" required/>

            <div ng-if="!isNew" disabled class="form-control input-sm uneditable-input">{{idOnly(model)}}</div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Timestamp</label>
            <div disabled class="form-control input-sm uneditable-input">{{model.dbo_ts | dbDate}}</div>
          </div>
        </div>

      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="form-group">
            <label class="control-label">Title</label>
            <input class="form-control input-sm" type="text" ng-model="model.title" required="true"/>
          </div>
        </div>

        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Level</label>
            <input class="form-control input-sm" type="number" ng-model="model.level" min=0 required="true"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" rows="6" ng-model="model.desc"></textarea>
          </div>
        </div>
      </div>
      <div class="row" ng-include="'editor/fragments/aliases.html'"></div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Weight</label>
            <input class="form-control input-sm" type="number" ng-model="model.weight" min=0 required="true"/>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Equip Slot</label>
            <select class="form-control input-sm col-md-10" ng-change="syncSlot()" ng-model="locals.equipSlot"
              ng-options="slot as slot for slot in equip_slots" required></select>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Value</label>
            <input class="form-control input-sm" type="number" ng-model="model.value" min=0 required="true"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Article Type</label>
            <select class="form-control input-sm col-md-10" ng-change="syncSlot()" ng-model="model.art_type"
              ng-options="type for type in constants.equip_types" required></select>
          </div>
        </div>
        <div class="col-md-5">
          <div class="checkbox">
            <label><input class="checkbox" type="checkbox" ng-model="model.divisible">Divisible</label>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div ng-show="model.art_type == 'weapon'">
            <div class="form-group">
              <label class="control-label">Weapon Type</label>
              <select class="form-control input-sm col-md-10" ng-model="model.weapon_type" ng-change="updateWeapon()"
                ng-options="weaponType.dbo_id as weaponType.dbo_id for weaponType in constants.weapon_types"></select>
            </div>
            <div class="form-group">

              <label class="control-label">Weapon Damage</label>
              <select class="form-control input-sm col-md-10" ng-model="model.damage_type"
                ng-options="damageType.dbo_id as damageType.dbo_id for damageType in constants.damage_types"></select>
            </div>
            <div class="form-group">
              <label class="control-label">Delivery</label>
              <select class="form-control input-sm" ng-model="model.delivery"
                ng-options="delivery.dbo_id as delivery.dbo_id for delivery in constants.damage_delivery"></select>
          </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div ng-include="'editor/fragments/script_list.html'"></div>
    </div>
  </div>

</div>

