<div ng-controller="ArticleListCtrl" ng-show="ready" class="wrapper">
  <div class="span2">
    <button ng-click="newModelDialog()" class="btn btn-small btn-success">New Article</button>
  </div>
  <div class="span8 scrollable">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th class="span1">Id</th>
        <th class="span2">Title</th>
        <th class="span1 cell-right">Weight</th>
        <th class="span1"></th>
      </tr>
      </thead>
      <tbody>
      <tr class="edit-row table-bordered" ng-click="startEditor('article', article)" ng-repeat="article in modelList">
        <td class="span1 unselectable">{{idOnly(article)}}</td>
        <td class="span2 unselectable">{{article.title}}</td>
        <td class="span1 unselectable cell-right">{{article.weight}}</td>
        <td class="span1">
          <div class="pull-right">
            <a ng-click="deleteModel($event, article)" title="Delete Article" class="icon-link"><i class="icon-remove"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
