<div class="panel panel-warning">
  <div class="panel-heading panel-condensed" title="{{effectDesc}}">{{effectName}}</div>
  <div class="panel-body">

    <div class="input-group" ng-class="groupClass" ng-repeat="(calcId, value) in calcValues | orderBy: 'calcId'"
      title="{{calcDefs[calcId].desc}}">
      <span class="input-group-addon">{{effectLabel(calcId, value)}}</span>
      <input type="number" class="form-control text-right" ng-change="childUpdate()" ng-model="calcValues[calcId]"
        required>
            <span ng-if="!fixed && can_write" class="input-group-btn">
              <button title="Delete Alias" class="btn btn-default" type="button" ng-click="deleteRow(calcId)"><i
                class="fa fa-minus-square" style="color: #b00;"></i></button>
            </span>
    </div>
    <div class="sm-spacer"></div>
    <div ng-if="unusedValues.length && can_write" class="pull-right">
      <select title="{{calcDefs[vars.newId].desc}}" class="input-sm" ng-model="vars.newId"
        ng-options="valueId for valueId in unusedValues"></select>
      <button type="button" class="btn btn-xs btn-warning" ng-click="addRow()">Add</button>
      </span>
    </div>
  </div>

</div>