<div class="panel panel-warning">
  <div class="panel-heading panel-condensed" title="{{inputList.desc}}">{{inputList.name}}</div>
  <div class="panel-body">
    <div class="input-group" ng-class="groupClass" ng-repeat="value in inputList.values track-by $index">
        <span ng-if="can_write" class="input-group-btn">
       <div disabled class="form-control input-sm uneditable-input">{{value}}</div>
              <button class="btn btn-default" type="button" ng-click="remove($index)"><i
                class="fa fa-minus-square" style="color: #b00;"></i></button>
            </span>
    </div>
     <div class="sm-spacer"></div>
    <div ng-if="can_write" class="pull-right">
      <input class="form-control input-sm" type="text" ng-model="inputList.newValue"/>
      <button type="button" class="btn btn-xs btn-warning" ng-click="insert()">Add</button>
    </div>
  </div>
</div>
