<div class="row">
  <div class="col-md-6">
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label">Mobile Id</label>
          <input ng-disabled="!isNew" type="text" class="form-control input-sm" ng-model="model.dbo_id"
            required="true"/>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">DB Rev</label>
          <input class="form-control input-sm" type="number" ng-model="model.dbo_rev" disabled/>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label">Title</label>
          <input class="form-control input-sm" type="text" ng-model="model.title" required="true"/>
        </div>
      </div>

      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">Level</label>
          <input class="form-control input-sm" type="number" ng-model="model.level" required="true"/>
        </div>
      </div>
    </div>
    <!--  <select class="input input-medium" ng-model="model.affinity" ng-options="affinity as affinity for (affinity, data) in constants.affinities"></select> -->
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Description</label>
          <textarea class="form-control col-md-12" rows="6" ng-model="model.desc"></textarea>
        </div>
      </div>
    </div>
  </div>
</div>
