<div ng-controller="PlayerEditorCtrl">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Player Id</label>
            <div disabled class="form-control input-sm uneditable-input">{{model.dbo_id | cap}}</div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">User Id</label>
            <div disabled class="form-control input-sm uneditable-input">{{model.user_id}}</div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Imm Level</label>
            <select ng-change="checkPromote()" ng-disabled="!canPromote" class="form-control input-sm" ng-model="model.imm_level"
              ng-options="immLevel.value as immLevel.name for immLevel in immLevels"></select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Race</label>
            <select class="form-control input-sm" ng-model="model.race"
              ng-options="race.dbo_id as race.name for race in races"></select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <lp-data-error type="promote"></lp-data-error>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Last Login</label>
            <div disabled class="form-control input-sm uneditable-input">{{model.last_login * 1000 | date: 'short'}}
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Last Logout</label>
            <div disabled class="form-control input-sm uneditable-input">{{model.last_logout * 1000 | date: 'short'}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      
    </div>
  </div>

</div>
