<div ng-controller="RaceEditorCtrl">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Race Id</label>
            <input ng-if="isNew" class="form-control input-sm" type="text" ng-model="model.dbo_id" required="true"/>

            <div ng-if="!isNew" disabled class="form-control input-sm uneditable-input">{{model.dbo_id}}</div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label">Race Name</label>
            <input class="form-control input-sm" type="text" ng-model="model.name" required="true"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" rows="6" ng-model="model.desc"></textarea>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
       <div lp-value-set="attrSet"></div>
    </div>
    <div class="col-md-3">
      <div lp-value-set="skillSet"></div>
    </div>

  </div>
</div>
