<div ng-controller="RaceEditorCtrl">
  <div class="row">
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label class="control-label">Race Id</label>
            <input ng-if="isNew" class="form-control input-sm" type="text" ng-model="model.dbo_id" required="true"/>

            <div ng-if="!isNew" disabled class="form-control input-sm uneditable-input">{{model.dbo_id}}</div>
          </div>
        </div>
        <div class="col-md-5">
          <div class="form-group">
            <label class="control-label">Race Name</label>
            <input class="form-control input-sm" type="text" ng-model="model.name" required="true"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6">
          <lp-owner_id></lp-owner_id>
        </div>
        <div class="col-md-6">
          <ng-include src="'editor/fragments/read_access.html'"></ng-include>
          <ng-include src="'editor/fragments/write_access.html'"></ng-include>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div class="form-group">
            <label class="control-label">Description</label>
            <textarea class="form-control" rows="6" ng-model="model.desc"></textarea>
          </div>
        </div>
      </div>
      <div class="row" ng-controller="ChildSelectorCtrl" lp-child-select="startRoomSelect">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Start Area</label>
                <select class="form-control input.sm" ng-model="parent" ng-change="selectParent()"
                  ng-options="parent as parent.dbo_id for parent in parentList"></select>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-group">
                <label class="control-label">Start Room</label>
                <select class="form-control input.sm" ng-model="child" ng-change="selectChild()"
                  ng-options="child.dbo_id as child.dbo_id for child in childList">
                  <option value="">Select Room</option>
                </select>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12">
              <lp-data-error type="startRoomSelect"></lp-data-error>
            </div>
          </div>

        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="checkbox">
            <label>
              <input type="checkbox" ng-model="model.start_instanced"> Start Instanced
            </label>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3">
      <div lp-value-set="attrSet"></div>
    </div>
    <div class="col-md-3">
      <div lp-value-set="skillSet"></div>
    </div>

  </div>
</div>
