<div class="panel panel-warning">
  <div class="panel-heading panel-condensed" title="{{selectDesc}}">{{selectName}}</div>

    <table class="table table-condensed table-bordered">

      <tbody>
      <tr ng-repeat="selection in selectValues | orderBy: 'selection'">
        <td class="col-md-10" title="{{selectDefs[selection]}}">{{selection}}</td>
        <td class="col-md-2"><a title="Delete Item" tabIndex="-1" ng-click="deleteRow(selection)" class="icon-link"><i
          class="fa fa-minus-square" style="color: #b00;"></i></a></td>
      </tr>
      </tbody>
    </table>
  <div class="panel-body panel-condensed">
    <div ng-if="unusedValues.length && $parent.model.can_write" class="pull-right">
      <select title="{{selectionDefs[vars.newSelection]}}" class="input-sm" ng-model="vars.newSelection"
        ng-options="valueId for valueId in unusedValues"></select>
      <button type="button" class="btn btn-xs btn-warning" ng-click="addRow()">Add</button>
      </span>
    </div>
</div>
</div>


