<table class="table table-condensed span12">
  <thead class="span12">
  <th class="span5" title="{{effectDesc}}">{{effectName}}</th>
  <th class="span5">Level</th>
  <th class="span2"></th>
  </thead>
  <tbody class="span12">
  <tr class="table-bordered" ng-repeat="(skillId, skill) in skillMap | orderBy: 'skillId'">
    <td class="span5 edit-cell" title="{{skill.desc}}">{{skillId}}</td>
    <td class="span5 edit-cell"><input class="span12 edit-cell" type="number" ng-model="skill.skill_level"/></td>
    <td class="span2 edit-cell"><a title="Delete Item" tabIndex="-1" ng-click="deleteRow(skillId)" class="icon-link"><i class="icon-remove"></i></a></td>
  </tr>

  </tbody>
</table>
<select title="{{skill.desc}}" class="edit-cell span6" ng-model="newId" ng-options="skill.dbo_id as skill.dbo_id for skill in unusedValues"></select>
<button style="margin: 0;" class="btn btn-small btn-success" ng-click="addRow()">Add</button>


