<div ng-controller="SocialEditorCtrl">
  <div class="row">
    <div class="col-md-3">
      <div class="form-group">
        <label class="control-label">Social</label>
        <input ng-disabled="!isNew" type="text" class="form-control input-sm" ng-model="model.dbo_id" required="true"/>
      </div>
    </div>
    <div ng-show="isNew">
      <div class="col-md-offset-2 col-md-4 alert alert-warning">
        Please create the social before editing.
      </div>
    </div>
    <div ng-hide="isNew">
      <div class="col-md-2">
        <div class="form-group">
          <label class="control-label">Mode</label>
          <div class="input-group" ng-hide="isNew">
            <button ng-class="editMode ? 'active' : ''" type="button" class="btn btn-sm btn-default" ng-click="startEditMode()">Edit</button>
            <button ng-class="editMode ? '' : 'active'" type="button" class="btn btn-sm btn-default" ng-click="previewSocial()">View</button>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label">Player</label>
          <input ng-model="source" class="col-md-5 form-control input-sm" ng-blur="previewSocial()"
            enter-key="previewSocial()"/>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label class="control-label">Target</label>
          <input ng-model="target" class="col-md-5 form-control input-sm"
            ng-blur="previewSocial()" enter-key="previewSocial()"/>
        </div>
      </div>
      <div class="col-md-1">
      ` <label class="checkbox">
          <input type="checkbox" ng-model="sourceSelf" ng-change="previewSocial()">
          (Self)
        </label>
      </div>
    </div>
  </div>

  <div class="row" ng-if="!isNew">
    <div class="col-md-6">
      <div class="row" ng-repeat="broadcast_type in constants.broadcast_types" ng-if="$even">
        <div class="col-md-12">
          <h5><em>{{broadcast_type.label}}</em></h5>
        <textarea ng-disabled="!editMode" ng-change="updateSocial(broadcast_type.id)"
          ng-model="displayMap[broadcast_type.id]" lines="2" class="col-md-12"></textarea>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row" ng-repeat="broadcast_type in constants.broadcast_types" ng-if="$odd">
        <div class="col-md-12">
          <h5><em>{{broadcast_type.label}}</em></h5>
        <textarea ng-disabled="!editMode" ng-change="updateSocial(broadcast_type.id)"
          ng-model="displayMap[broadcast_type.id]" lines="2" class="col-md-12"></textarea>
        </div>
      </div>
    </div>

  </div>
</div>