<div class="container-fluid" ng-style="gameHeight">
  <div class="row-fluid main-display">
    <div ng-switch="actionPane" class="span6 v-full">
      <div class="row-fluid" ng-switch-when="login" ng-controller="LoginController">
        <div class="span6">
          <h4>Welcome to {{siteTitle}}</h4>
          <p>{{siteDescription}}</p>
        </div>
        <form class="span4 well form-padding" ng-submit="login()" name="loginForm">
          <label>Player or Account Name:</label>
          <input class="span11" type="text" ng-change="loginError = false" ng-model="userId" pref-focus required/>
          <label>Account Password:</label>
          <input class="span11" type="password" ng-change="loginError = false" ng-model="password" required/>
          <div class="alert alert-error" ng-show="loginError">
            <button type="button" class="close" ng-click="loginError = false">×</button>
            Invalid user name or password
          </div>
          <button class="btn btn-small btn-primary" type="submit">Enter {{siteTitle}}</button>
        </form>
      </div>
      <div ng-switch-default ng-controller="ActionController" class="v-full">
        <div id="displayPane" scroll-bottom="update" class="telnet span12">
          <div ng-repeat="line in display" ng-style="line.style">{{line.text}}</div>
        </div>
        <div class="telnet-input">
          <textarea ng-model="action" enter-key="sendAction()" spellcheck="false" history pref-focus></textarea>
        </div>
      </div>
    </div>
    <div class="span6 tabbable">
      <ul class="nav nav-tabs" id="myTabs">
        <li class="active"><a ng-href="#playerListTab" data-toggle="playerListTab">Players</a></li>
      </ul>

      <div class="tab-content span12">
        <div class="tab-pane active" id="playerListTab" ng-controller="PlayerListController">
          <table class="table table-condensed">
            <thead>
            <tr>
              <th class="span2">Name</th>
              <th class="span2">Status</th>
              <th class="span7">Location</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="player in playerList">
              <td class="span2">{{player.name}}</td>
              <td class="span2">{{player.status}}</td>
              <td class="span7">{{player.loc}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>