<div ng-controller="AreasEditorController">
    <div class="span1">
        <h4>Areas</h4>
        <button ng-click="showNewDialog()" class="btn btn-small btn-success">New Area</button>
    </div>
    <div class="span10">
        <table class="span12 table table-condensed" ng-controller="TableController" edit-list="areas">
            <thead>
            <tr>
                <th class="span1"></th>
                <th class="span2">Id</th>
                <th class="span1">Owner</th>
                <th class="span2">Name</th>
                <th class="span1 cell-right">Rooms</th>
                <th class="span1 cell-right">Articles</th>
                <th class="span1 cell-right">Mobiles</th>
                <th class="span1 cell-right">Next Room</th>
                <th class="span2"></th>
            </tr>
            </thead>
            <tbody>
            <tr class="edit-row table-bordered" ng-repeat="area in areas" ng-form="rowForm" ng-class="rowClass(rowForm)">
                <td class="span1" ng-click="showRooms(area)">{{$index + 1}}</td>
                <td class="span2" ng-click="showRooms(area)">{{area.id}}</td>
                <td class="span1">{{area.owner_id}}</td>
                <td class="span2 edit-cell"><input class="span12 edit-cell" type="text" ng-model="area.name"/></td>
                <td class="span1 cell-right" ng-click="addEditor('rooms', area.id)"><a class="pull-left"><i class="icon-wrench"></i></a>{{area.room}}</td>
                <td class="span1 cell-right" ng-click="addEditor('articles', area.id)"><a class="pull-left"><i class="icon-wrench"></i></a>{{area.article}}</td>
                <td class="span1 cell-right" ng-click="addEditor('mobiles', area.id)"><a class="pull-left"><i class="icon-wrench"></i></a>{{area.mobile}}</td>
                <td class="span1 edit-cell"><input class="span12 edit-cell cell-right" type="number" ng-model="area.next_room_id"/></td>
                <td class="span2 cell-centered" ng-include="'view/editor/editbar.html'"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>