<div ng-controller="RoomsEditorController" ng-show="ready">
    <div class="span1">
        <h4>Rooms - {{areaId}}</h4>
        <button ng-click="showNewDialog()" class="btn btn-small btn-success">New Room</button>
    </div>
    <div class="span8">
        <table class="span12 table table-condensed" ng-controller="TableController" edit-list="rooms">
            <thead>
            <tr>
                <th class="span1"></th>
                <th class="span1">Id</th>
                <th class="span2">Title</th>
                <th class="span1 cell-right">Exits</th>
                <th class="span1 cell-right">Items</th>
                <th class="span1 cell-right">Mobiles</th>
                <th class="span1 cell-right">Extras</th>
            </tr>
            </thead>
            <tbody>
            <tr class="edit-row table-bordered" ng-repeat="room in rooms" ng-form="rowForm" ng-class="rowClass(rowForm)">
                <td class="span1 cell-right">{{$index + 1}} <a title="Edit Room" ng-click="editRoom($index)" class="icon-link"><i class="icon-wrench"></i></a></td>
                <td class="span1">{{room.id}}</td>
                <td class="span2 edit-cell">{{room.title}}</td>
                <td class="span1 cell-right">{{room.exit_count}}</td>
                <td class="span1 cell-right">{{room.item_count}}</td>
                <td class="span1 cell-right">{{room.mobile_count}}</td>
                <td class="span1 cell-right">{{room.extra_count}}</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>