<div ng-controller="RoomEditorController" ng-show="ready" style="height: 100%; overflow-y: auto">
  <div class="row-fluid">
    <h4 class="span3">Room Id: {{room.id}}</h4>
    <h5 class="span1">Rev: {{room.dbo_rev}}</h5>

    <div class="span4">
      <h5 class="span3">Exits ({{room.exits.length}})</h5>
    </div>
    <div class="span4">
      <div class="row-fluid">
        <button ng-disabled="!roomDirty" ng-click="updateRoom()" class="btn btn-primary">Update</button>
        <button ng-disabled="!roomDirty" ng-click="revertRoom()" class="btn">Revert</button>
        <button ng-click="deleteRoom()" class="btn btn-danger" style="margin-left: 6px;">Delete</button>
        <div class="pull-right">
          <button ng-click="visitRoom()" class="btn btn-warning" style="margin-right: 6px;">Visit</button>
          <button ng-click="closeEditor(editor)" class="btn btn-info">Close</button>
        </div>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4">
      <label>Title</label>
      <input class="span10" type="text" ng-change="dirty()" ng-model="room.title"/>
      <label>Description</label>
      <textarea class="span12" rows="10" ng-change="dirty()" ng-model="room.desc"></textarea>
    </div>
    <div class="span3">
      <table style="width: 100%; height:60%; table-layout: fixed;">
        <thead>
        <tr>
          <th style="width: 10%;">Dir</th>
          <th style="width: 60%;">Destination</th>
          <th style="width: 30%;"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="table-bordered" ng-repeat="exit in room.exits">
          <td style="width: 10%;">{{exit.dir}}</td>
          <td class="use-ellipses" style="width: 60%;">{{exit.dest_id}} ({{exit.dest_title}})</td>
          <td style="width: 30%;">
            <a title="Show Description" ng-click="showDestination(exit)" class="icon-link"><i class="icon-eye-open"></i></a>
            <a title="Delete Exit" ng-click="deleteExit($index)" class="icon-link"><i class="icon-remove"></i></a>
            <a title="Delete Exit (one way)" ng-show="exit.two_way" ng-click="deleteOneWay($index)" class="icon-link"><i class="icon-circle-arrow-left"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="span4">
      <div class="alert" ng-class="resultType" ng-show="showResult">{{resultMessage}}
        <button type="button" class="close" ng-click="showResult = false">×</button>
      </div>
      <!-- Future map? -->
    </div>

  </div>
  <div class="row-fluid">

    <div class="span7">
      <div class="span1">
        <h5>Extras</h5>
        <div class="column-button">
          <button ng-click="addNewExtra()" class="btn btn-success btn-mini">New</button>
        </div>
      </div>

      <div class="span6">
        <table class="table table-condensed">
          <thead>
          <tr>
            <th style="width: 75%;">Title</th>
          </tr>
          </thead>
          <tbody>
          <tr class="edit-row table-bordered" ng-repeat="extra in room.extras" ng-class="extraRowClass(extra)">
            <td class="edit-cell"><input ng-change="dirty()" class="span12 edit-cell extra-title-edit" type="text" ng-model="extra.title"/></td>
            <td><a title="Show Description" tabIndex="-1" ng-click="showDesc(extra)" class="icon-link"><i class="icon-eye-open"></i></a>
              <a title="Show Aliases" tabIndex="-1" ng-click="showAliases(extra)" class="icon-link"><i class="icon-align-justify"></i></a>
              <a title="Delete Item" tabIndex="-1" ng-click="deleteExtra($index)" class="icon-link"><i class="icon-remove"></i></a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>

      <div class="span5" ng-show="currentExtra != null" ng-switch="extraDisplay">
        <div class="span12" ng-switch-when="desc">
          <label>Description for {{currentExtra.title}}</label>
          <textarea class="span12" rows="6" ng-model="currentExtra.desc"></textarea>
        </div>
        <div class="span12" ng-switch-when="aliases">
          <div class="span10">Aliases for {{currentExtra.title}}<a class="pull-right icon-link" title="New Alias" ng-click="newAlias()">
            <i class="icon-plus"></i></a></div>
          <div class="clearfix"></div>
          <table class="table table-condensed" style="width: 90%">
            <tbody>
            <tr class="table-bordered" ng-repeat="alias in currentExtra.editAliases">
              <td class="edit-cell" style="width: 85%"><input ng-change="dirty()" class="span12 edit-cell extra-alias-edit" type="text" ng-model="alias.title"/></td>
              <td><a title="Delete Alias" ng-click="deleteAlias($index)" class="icon-link"><i class="icon-remove"></i></a></td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="span4">
      <!-- Future resets -->
    </div>
  </div>
</div>