<div class="tab-pane" id="scriptsTab">
  <div class="span6">
    <table class="table table-condensed">
      <thead>
      <tr>
        <th style="width: 75%;">Title</th>
      </tr>
      </thead>
      <tbody>
      <tr class="edit-row table-bordered" ng-repeat="script_id in model.scripts">
        <td class="span10">{{script_id}}  {{script(script_id).title}}</td>
        <td><a title="Edit Script" tabIndex="-1" ng-click="startEditor('script', script(script_id))" class="icon-link"><i class="icon-wrench"></i></a>
          <a title="Delete Script" tabIndex="-1" ng-click="deleteScript(script_id)" class="icon-link"><i class="icon-remove"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="span6" ng-controller="objSelectorController" ng-init="objType = 'script'" >
    <h5>Select Scripts</h5>
    <label>Source Area</label>
    <select class="span10" ng-model="selectedArea" ng-change="selectArea()" ng-options="area as area.dbo_id for area in selectAreaList"></select>
    <label>Available Scripts</label>
    <select class="span10" ng-disabled="!hasAreaObj" ng-model="selectedAreaObj" ng-change="objChange()" ng-options="script as script.dbo_id for script in selObjList"></select>
    <div class="spacer"></div>
    <button ng-disabled="!hasAreaObj" type="button" class="btn btn-success btn-small" ng-click="selectScript(selectedAreaObj)">Add Script</button>
  </div>
</div>
