<div ng-controller="AreasEditorCtrl" class="row-fluid">
    <div class="span1">
        <h4>Areas</h4>
        <button ng-click="showNewDialog()" class="btn btn-small btn-success">New Area</button>
    </div>
    <div class="span11">
        <table class="span11 table table-condensed" ng-controller="TableCtrl" edit-list="areas">
            <thead>
            <tr>
                <th></th>
                <th>Id</th>
                <th>Owner</th>
                <th>Name</th>
                <th class="cell-right">Rooms</th>
                <th class="cell-right">Articles</th>
                <th class="cell-right">Mobiles</th>
                <th class="cell-right">Next Room</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr class="edit-row table-bordered" ng-repeat="area in areas" ng-form="rowForm" ng-class="rowClass(rowForm)">
                <td style="width: 6%" ng-click="showRooms(area)">{{$index + 1}}</td>
                <td style="width: 8%" ng-click="showRooms(area)">{{area.id}}</td>
                <td style="width: 8%">{{area.owner_id}}</td>
                <td style="width: 15%" class="edit-cell"><input class="span12 edit-cell" type="text" ng-model="area.name"/></td>
                <td style="width: 8%" class="cell-right" ng-click="addEditor('rooms', area.id)"><a class="pull-left"><i class="icon-wrench"></i></a>{{area.room}}</td>
                <td style="width: 8%" class="cell-right" ng-click="addEditor('articles', area.id)"><a class="pull-left"><i class="icon-wrench"></i></a>{{area.article}}</td>
                <td style="width: 8%" class="cell-right" ng-click="addEditor('mobiles', area.id)"><a class="pull-left"><i class="icon-wrench"></i></a>{{area.mobile}}</td>
                <td style="width: 8%" class="edit-cell"><input class="span12 edit-cell cell-right" type="number" ng-model="area.next_room_id"/></td>
                <td style="width: 14%" class="cell-centered" ng-include="'editor/view/editbar.html'"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>