<div class="v-full" ng-controller="AreaEditorCtrl" ng-show="ready">
  <div class="span1">
    <h4>Areas ({{modelList.length}})</h4>
    <button ng-click="newModelDialog()" class="btn btn-small btn-success">New Area</button>
    <div style="padding-bottom: 15px;"></div>
  </div>
  <div class="span3 scrollable wrapper">
    <table class="table table-condensed table-bordered">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
      </tr>
      </thead>
      <tbody>
      <tr class="edit-row" ng-class="modelRowClass(area)" ng-click="editModel(area)" ng-repeat="area in modelList">
        <td class="span4">{{area.dbo_id}}</td>
        <td class="span6">{{area.name}}</td>
        <td class="span2">
          <a ng-show="area.can_write" ng-click="deleteModel($event, area)" title="Delete Area" class="icon-link">
            <i class="icon-remove"></i></a>
          <i ng-hide="area.can_write" class="icon-lock icon-gray"></i>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="span8 scrollable" ng-hide="!model">
    <div class="row-fluid">
      <div class="span8">
        <div class="center-in-span">
            <h4 style="display: inline;">Area {{model.dbo_id}} </h4><h5 style="display: inline;"> ({{model.owner_id}})</h5>
          </div>
      </div>
      <div class="offset1 span3">
        <button type="button" class="btn" ng-click="revertModel()" ng-disabled="!isDirty">Revert</button>
        <button type="button" class="btn btn-primary" ng-click="updateModel()" ng-disabled="!isDirty">Update</button>
      </div>
    </div>
    <div class="spacer"></div>
    <lm-outside-edit></lm-outside-edit>
    <div class="row-fluid">
      <div class="span4">
        <label>Area Name</label>
        <input type="text" ng-model="model.name" required="true"/>
        <label>Next Room</label>
        <input class="input input-small" type="number" ng-model="model.next_room_id" required="true"/>
      </div>
      <div class="span4">
        <label>Description</label>
        <textarea class="span12" rows="6" ng-model="model.desc"></textarea>
      </div>
    </div>
    <div class="row-fluid tabbable">
      <ul class="nav nav-tabs" >
        <li class="unselectable active"><a href="#roomTab" data-toggle="tab">Rooms</a></li>
        <li class="unselectable"><a href="#mobileTab" data-toggle="tab">Mobiles</a></li>
        <li class="unselectable"><a href="#articleTab" data-toggle="tab">Articles</a></li>
      </ul>

      <div class="tab-content">
        <div id="roomTab" class="tab-pane active" ng-include="'editor/view/rooms.html'"></div>
        <div id="mobileTab" class="tab-pane" ng-include="'editor/view/mobiles.html'">Mobiles</div>
        <div id="articleTab" class="tab-pane" ng-include="'editor/view/articles.html'">Articles</div>
      </div>
  </div>
</div>
