<div class="v-full" ng-controller="DefenseEditorCtrl" ng-show="ready">
  <div class="span2">
    <h4>Defenses ({{modelList.length}})</h4>
    <button ng-click="newObjectDialog()" class="btn btn-small btn-success">New Defense</button>
    <div style="padding-bottom: 15px;"></div>

  </div>
  <div class="span2 scrollable wrapper">
    <table class="table table-condensed table-bordered">
      <thead>
      <tr>
        <th>Defense</th>
      </tr>
      </thead>
      <tbody>
      <tr class="edit-row" ng-class="objectRowClass(obj)" ng-click="editObject(obj)" ng-repeat="obj in modelList">
        <td class="span8">{{obj.dbo_id}}</td>
        <td class="span4">
          <a ng-click="deleteObject($event, obj)" title="Delete Defense" class="icon-link"><i class="icon-remove"></i></a>
          <a ng-click="copyObject($event, obj)" title="Copy Defense" class="icon-link"><i class="icon-share"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div class="span8 v-full" ng-hide="!model">
    <div class="row-fluid">
      <div class="offset9 span3">
        <button type="button" class="btn" ng-click="revertObject()" ng-disabled="!isDirty">Revert</button>
        <button type="button" class="btn btn-primary" ng-click="updateObject()" ng-disabled="!isDirty">Update</button>
      </div>
    </div>
    <div class="row-fluid scrollable">
      <div class="span5">
        <div class="row-fluid">
          <div class="span6">
            <label>Defense Command</label>
            <input class="input input-medium" ng-disabled="model.auto_start" type="text" ng-model="model.verb" required="true"/>
          </div>
          <div class="span6">
            <label>AutoStart</label>
            <input type="checkbox" ng-model="model.auto_start" ng-change="onAutoStart()">
          </div>
        </div>
        <div class="row-fluid">
          <div class="span12">
            <label>Description</label>
            <textarea class="span12" rows="8" ng-model="model.desc"></textarea>
          </div>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <div lm-simple-list="damageTypeList"></div>
          </div>
          <div class="span6">
            <div lm-simple-list="deliveryTypeList"></div>
          </div>
        </div>
      </div>
      <div class="offset1 span4">
        <div lm-effect-list="costList"></div>
        <div class="spacer" lm-effect-list="avoidList"></div>
        <div class="spacer" lm-effect-list="absorbList"></div>
      </div>
    </div>
  </div>


</div>

