<table class="table table-condensed span12">
  <thead class="span12">
  <th class="span10" colspan="2" title="{{effectDesc}}">{{effectName}}</th>
  <th class="span2"></th>
  </thead>
  <tbody class="span12">
  <tr class="table-bordered" ng-repeat="(calcId, value) in calcValues | orderBy: 'calcId'">
    <td class="span5 edit-cell" title="{{calcDefs[calcId]}}">{{calcId}}</td>
    <td class="span5 edit-cell"><input class="span12 edit-cell" type="number" ng-model="calcValues[calcId]" ng-change="dirty()"/></td>
    <td class="span2 edit-cell"><a title="Delete Item" tabIndex="-1" ng-click="deleteRow(calcId)" class="icon-link"><i class="icon-remove"></i></a></td>
  </tr>

  </tbody>
</table>
<select title="{{calcDefs[newId]}}" class="edit-cell span6" ng-model="newId" ng-options="valueId for valueId in unusedValues"></select>
<button style="margin: 0;" class="btn btn-small btn-success" ng-click="addRow()">Add</button>


