<div ng-controller="ObjectListController" ng-show="ready" class="wrapper">
    <div class="span2">
        <h4>Mobiles - {{areaId}}</h4>
        <button ng-click="showNewDialog()" class="btn btn-small btn-success">New Mobile</button>
    </div>
    <div class="span6" style="height: 100%; overflow-y: auto; overflow-x: hidden">
        <table class="table table-condensed">
            <thead>
            <tr>
                <th class="span1"></th>
                <th class="span1">Id</th>
                <th class="span2">Title</th>
                <th class="span1 cell-right">Level</th>
            </tr>
            </thead>
            <tbody>
            <tr class="edit-row table-bordered" ng-click="addEditor(type, mobile.dbo_id)" ng-repeat="mobile in objects" >
                <td class="span1">{{$index + 1}}<div class="pull-right">
                  <a ng-click="deleteObject($event, mobile)" title="Delete Mobile" class="icon-link"><i class="icon-remove"></i></a>
                  <a title="Edit Mobile" class="icon-link"><i class="icon-wrench"></i></a>
                </div></td>
                <td class="span1 unselectable">{{mobile.dbo_id}}</td>
                <td class="span2 unselectable edit-cell">{{mobile.title}}</td>
                <td class="span1 unselectable cell-right">{{mobile.level}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="offset2 span2 pagination-right">
      <button ng-click="closeEditor(editor)" class="btn btn-info">Close</button>
      <div class="column-button">
        <button ng-click="addEditor('rooms', areaId)" class="btn">Rooms</button>
      </div>
      <div class="column-button">
        <button ng-click="addEditor('articles', areaId)" class="btn">Articles</button>
      </div>
  </div>
</div>