<div ng-controller="PlayersEditorCtrl" ng-show="ready" class="wrapper">
  <div class="span2" style="height: 6%">
    <h4>Players {{modelList.length}}</h4>
  </div>
  <div class="span8 scrollable">
    <div class="alert alert-error" ng-show="dataError">
      <button type="button" class="close" ng-click="dataError = null">×</button>
      {{dataError}}
    </div>
    <table class="table table-condensed">
      <thead>
      <tr>
        <th class="span2">Name</th>
        <th class="span2">User</th>
        <th class="span1">Imm Level</th>
        <th class="span1 cell-right">Logged In</th>
        <th class="span1"></th>
      </tr>
      </thead>
      <tbody>
      <tr class="edit-row table-bordered" ng-repeat="player in modelList">
        <td class="span2 unselectable">{{cap(player.dbo_id)}}</td>
        <td class="span2 unselectable">{{player.user_id}}</td>
        <td class="span2 unselectable">{{player.imm_level}}</td>
        <td class="span1 unselectable cell-right">{{player.logged_in}}</td>
        <td class="span1">
          <div class="pull-right">
            <a ng-click="deleteModel($event, player)" title="Delete Player" class="icon-link"><i class="icon-remove"></i></a>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
