<div class="row-fluid" ng-controller="RoomListCtrl" ng-show="ready" class="wrapper">
  <div class="span2">
    <button ng-click="newObjectDialog()" class="btn btn-small btn-success">New Room</button>
  </div>
  <div class="span9 scrollable">
    <table class="table table-condensed span12">
      <thead>
      <tr>
        <th class="span1">Id</th>
        <th class="span4">Title</th>
        <th class="span1 cell-right">Exits</th>
        <th class="span1 cell-right">Items</th>
        <th class="span1 cell-right">Mobiles</th>
        <th class="span1 cell-right">Extras</th>
        <th class="span2"></th>
      </tr>
      </thead>
      <tbody>
      <tr class="edit-row table-bordered" ng-click="editRoom(room)" ng-repeat="room in modelList">
        <td class="span1 unselectable">{{idOnly(room.dbo_id)}}</td>
        <td class="span4 unselectable edit-cell">{{room.title}}</td>
        <td class="span1 unselectable cell-right">{{room.exits.length}}</td>
        <td class="span1 unselectable cell-right">{{room.article_resets.length}}</td>
        <td class="span1 unselectable cell-right">{{room.mobile_resets.length}}</td>
        <td class="span1 unselectable cell-right">{{room.extras.length}}</td>
        <td class="span2">
          <a ng-click="deleteObject($event, room)" title="Delete Room" class="icon-link"><i class="icon-remove"></i></a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
