<table class="table table-condensed span12">
  <thead class="span12">
  <th class="span10" colspan="2" title="{{selectDesc}}">{{selectName}}</th>
  <th class="span2"></th>
  </thead>
  <tbody class="span12">
  <tr class="table-bordered" ng-repeat="selection in selectValues | orderBy: 'selection'">
    <td class="span10 edit-cell" title="{{selectDefs[selection]}}">{{selection}}</td>
    <td class="span2 edit-cell"><a title="Delete Item" tabIndex="-1" ng-click="deleteRow(selection)" class="icon-link"><i class="icon-remove"></i></a></td>
  </tr>
  </tbody>
</table>
<select title="{{selectionDefs[newSelection]}}" class="edit-cell span6" ng-model="newSelection" ng-options="unused for unused in unusedValues"></select>
<button style="margin: 0;" class="btn btn-small btn-success" ng-click="addRow()">Add</button>


