<div ng-controller="SocialsEditorController" ng-show="ready">
  <div class="row-fluid">
    <div class="span2">
      <h4>Socials {{socials.length}}</h4>
    </div>
    <div class="span2 scrollable wrapper">
      <table class="table table-condensed" ng-controller="TableController" edit-list="rooms" >
        <thead>
        <tr>
          <th>Social</th>
          <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr class="edit-row table-bordered" ng-repeat="social in socials">
          <td class="span8">{{social}}</td>
          <td class="span4">{{$index + 1}}
            <a ng-click="deleteSocial($index)" title="Delete Social" class="icon-link"><i class="icon-remove"></i></a>
          </td>

        </tr>
        </tbody>
      </table>
    </div>
    <div class="span8">

    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <button ng-click="showNewSocialDialog()" class="btn btn-small btn-success">New Social</button>
    </div>
  </div>
</div>