<div class="text-left panel panel-warning" ng-controller="EditEntranceCtrl">
  <div class="panel-heading panel-condensed">
    <span class="h5">{{newAdd ? 'Create' : 'Modify'}} Entrance</span> <span class="pull-right hand close"
    ng-click="closeAdd()">x</span>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-8">
        <div class="form-group">
          <label class="control-label">Title</label>
          <input class="form-control input-sm" ng-model="entrance.title">
        </div>
      </div>
      <div class="col-md-4">
        <div class="checkbox">
          <label>
            <input type="checkbox" ng-model="entrance.instanced"> Instanced
          </label>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">Description</label>
          <textarea class="form-control" rows="4" ng-model="entrance.desc"></textarea>
        </div>

      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Command</label>
          <input class="form-control input-sm" ng-change="checkVerb()" ng-model="entrance.verb">
        </div>
      </div>
      <div class="col-md-6">
        <label class="control-label">Direction</label>
        <select class="form-control input-sm" ng-change="checkDirection()" ng-model="entrance.direction"
          ng-options="direction.key as direction.name for direction in ent_dirs"></select>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6" ng-controller="ChildSelectCtrl" lp-child-type="room" lp-child-parent="entranceParent">
        <div class="form-group">
          <label class="control-label">Destination Area</label>
          <select class="form-control input.sm" ng-model="vars.parent" ng-change="selectParent()"
            ng-options="parent as parent.dbo_id for parent in sourceList" required></select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Destination Room</label>
          <select class="form-control input.sm" ng-model="destRoom" ng-change="updateRoom()"
            ng-options="child as child.dbo_id for child in childList" required></select>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="well well-sm">
          {{destRoom.title}}
          <p></p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-danger" ng-show="lastError != null">
          <button type="button" class="close" ng-click="lastError = null">×</button>
          {{lastError}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="pull-right" ng-if="!newAdd">
          <button type="button" ng-click="deleteFeature()" class="btn btn-danger btn-sm">Delete Entrance</button>
          <button type="button" ng-click="updateEntrance()" class="btn btn-default btn-sm">Close</button>
        </div>
        <div class="pull-right" ng-if="newAdd">
          <button type="button" ng-click="updateEntrance()" class="btn btn-warning btn-sm">Create Entrance</button>
          <button type="button" ng-click="closeAdd()" class="never-disable btn btn-default btn-sm">Cancel</button>
        </div>
      </div>
    </div>
  </div>
</div>