<div class="text-left panel panel-warning" ng-controller="ScriptRefCtrl">
  <div class="panel-heading panel-condensed">
    <span class="h5">Modify Shadow Script</span> <span class="pull-right hand close" ng-click="closeAdd()">x</span>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-8">
        <div class="form-group" ng-disabled="!addObj.script">
          <label class="control-label">Function</label>
          <div disabled class="form-control input-sm uneditable-input">{{addObj.func_name}}</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">Priority</label>
          <input class="form-control input-sm" type="number" ng-model="addObj.priority" required="true"/>
        </div>
      </div>
    </div>

    <div class="pull-right">
      <button type="button" ng-click="deleteScriptRef()" class="btn btn-sm btn-danger">
        Delete Script
      </button>
      <button type="button" ng-click="closeAdd()" class="never-disable btn btn-sm btn-default">Cancel
      </button>
    </div>
  </div>
</div>


