<div class="text-left panel panel-warning" ng-controller="ScriptRefCtrl">
  <div class="panel-heading panel-condensed">
    <span class="h5">Add Shadow Script</span> <span class="pull-right hand close" ng-click="closeAdd()">x</span>
  </div>
  <div class="panel-body">
    <div class="row" ng-controller="ChildSelectorCtrl" lp-child-select="scriptSelect">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Script</label>
          <select class="form-control input.sm" ng-model="child" ng-change="selectChild()"
                  ng-options="child as child.title for child in childList">
            <option value="">Select Script</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label">Source Area</label>
          <select class="form-control input.sm" ng-model="parent" ng-change="selectParent()"
                  ng-options="parent as parent.dbo_id for parent in parentList"></select>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <lp-data-error type="scriptSelect"></lp-data-error>
        </div>
      </div>

    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="form-group" ng-disabled="!addObj.script">
          <label class="control-label">Function</label>
          <select class="form-control input.sm" ng-model="addObj.func_name" required="true"
                  ng-options="func.name as func.name for func in shadows">
            <option value="">Select Function</option>
          </select>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="control-label">Priority</label>
          <input class="form-control input-sm" type="number" ng-model="addObj.priority" required="true"/>
        </div>
      </div>
    </div>

    <div class="pull-right">
      <button ng-if="validScript()" type="button" ng-click="addScriptRef()" class="btn btn-sm btn-warning">
        Add Script
      </button>
      <button type="button" ng-click="closeAdd()" class="never-disable btn btn-sm btn-default">Cancel
      </button>
    </div>
  </div>
</div>


