<div class="text-left panel panel-warning" ng-controller="ShadowScriptCtrl">
  <div class="panel-heading panel-condensed">
    <span class="h5">Shadow Script</span> <span class="pull-right hand close" ng-click="closeAdd()">x</span>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-4">
         <div class="form-group">
          <label class="control-label">Function</label>
          <select class="form-control input-sm" ng-model="active.shadow" ng-change="changeShadow()"
            ng-options="shadow as shadow.name for shadow in modelShadows">
             <option value="">-- Select --</option>
          </select>
        </div>
      </div>
      <div class="col-md-2">
        <label class="control-label">Priority</label>
        <input type="number" class="form-control input-sm" ng-model="shadowScript.priority" required>
      </div>
      <div class="col-md-3">
         <button ng-show="scriptChanged" type="button" class="btn btn-success" ng-click="validateScript()">Validate</button>
      </div>
      <div class="col-md-3">
        <div class="pull-right" ng-if="!newAdd">
          <button type="button" ng-click="deleteScript()" class="btn btn-danger btn-sm">Delete Script</button>
          <button type="button" ng-click="updateScript()" class="btn btn-default btn-sm">Update Script</button>
        </div>
        <div class="pull-right" ng-if="newAdd">
          <button ng-disabled="!active.shadow" type="button" ng-click="createScript()" class="btn btn-warning btn-sm">Create Script</button>
          <button type="button" ng-click="closeAdd()" class="never-disable btn btn-default btn-sm">Cancel</button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <textarea class="form-control" rows="12" ng-model="shadowScript.text"></textarea>
        <lp-data-error type="scriptError"></lp-data-error>
      </div>

    </div>
  </div>
</div>
