<div class="col-md-2">
  <div class="form-group">
    <label class="control-label">Object Type</label>
    <select class="form-control input-sm col-md-10" ng-change="updateShadowClass('true')"
            ng-model="model.metadata.cls_type"
            ng-options="type as type for (type, shadow) in constants.shadow_types" required></select>
  </div>
</div>
<div class="col-md-2">
  <div class="form-group">
    <label class="control-label">Function</label>
    <select class="form-control input-sm col-md-10" ng-change="updateArgs()" ng-model="model.metadata.cls_shadow"
            ng-options="func.name as func.name for func in shadowFuncs" required></select>
  </div>
</div>