<div class="text-left panel panel-warning" ng-controller="EditStoreCtrl">
  <div class="panel-heading panel-condensed">
    <span class="h5">Modify Store</span> <span class="pull-right hand close" ng-click="closeAdd()">x</span>
  </div>
  <div class="panel-body">

    <div class="row">
      <div class="col-md-offset-1 col-md-8">
        <div class="form-group">
          <label class="control-label">Title</label>
          <input class="form-control input-sm" ng-model="store.title">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="control-label">Description</label>
          <textarea class="form-control" rows="6" ng-model="store.desc"></textarea>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6" title="Percent markup for standard value">
        <div class="form-group" >
          <label class="control-label">Markup</label>
          <input class="form-control input-sm" type="number" ng-model="store.markup" required="true" min="0"/>
        </div>
      </div>
      <div class="col-md-6" title="Percent discount paid for items below standard value">
        <div class="form-group">
          <label class="control-label">Discount</label>
          <input class="form-control input-sm" type="number" ng-model="store.discount" required="true" min="0"/>
        </div>
      </div>
    </div>
    <div class="row">
        <div class="col-md-6">
          <div class="form-group" ng-controller="ChildSelectCtrl" lp-child-type="article">
            <label class="control-label">Source Area</label>
            <select class="form-control input.sm" ng-model="vars.parent" ng-change="selectParent()"
              ng-options="parent as parent.dbo_id for parent in sourceList" required></select>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label class="control-label">Currency</label>
            <select class="form-control input.sm" ng-model="newCurrency" ng-change="updateCurrency()"
              ng-options="article.dbo_id as article.dbo_id for article in currencyList"></select>
          </div>
        </div>

    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="pull-right">
          <button type="button" ng-click="deleteFeature()" class="btn btn-danger btn-sm">Delete Store</button>
          <button type="button" ng-click="closeAdd()" class="btn btn-default btn-sm">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>