<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()" ng-show="!hideClose">×</button>
        <h4>Forgot Password</h4>
      </div>
      <form ng-submit="submitRequest()">
        <div class="modal-body">
          <div class="well">Enter your account name or player name. We will send an email to the address on file with a temporary
            password.
          </div>
          <div class="form-group">
            <label for="accountNameInput">Account/Player Name:</label>
            <input id="accountNameInput" class="form-control input-sm" type="text" ng-model="info" ng-change="showError = false"
                   required/>
          </div>
        </div>
        <div class="alert alert-danger" ng-show="showError">
          <button type="button" class="close" ng-click="showError = false">×</button>
          {{showError}}
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Send Temporary Password</button>
          <button class="btn" ng-click="dismiss()">Cancel</button>
        </div>
      </form>
    </div>
  </div>
</div>
