<div class="modal">
  <form ng-submit="submitRequest()">


    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4>Reset Account Password</h4>
        </div>
        <div class="modal-body">
           <div class="alert alert-danger" ng-show="errorText">
             <button type="button" class="close" ng-click="errorText = null">×</button>
            {{errorText}}
          </div>
          <div class="row" style="margin-top: 10px;">
            <div class="col-md-6">
              <label>New Account Password</label>
              <input class="col-md-11" type="password" ng-change="errorText = null" ng-model="password"
                required="required"/>
            </div>
            <div class="col-md-6">
              <label>Confirm Password</label>
              <input class="col-md-11" type="password" ng-change="errorText = null" ng-model="passwordCopy"
                required="required"/>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button class="btn btn-primary" type="submit">Reset Password</button>
        </div>
      </div>
    </div>
  </form>
</div>
