<div class="modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()">×</button>
        <h5>Select Character</h5>
      </div>
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-sm-6">
              <h4>Character Name</h4>
            </div>
          </div>

          <div class="row" ng-repeat="player in players">
            <div class="spacer"></div>
            <div class="col-md-8 col-sm-8">{{player.name}}</div>
            <div class="col-md-2 col-sm-2"></div>
            <div class="col-md-2 col-sm-2">
              <button class="btn btn-info btn-xs" ng-click="selectCharacter(player.dbo_id)">Play</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer"></div>
  </div>
</div>
