@CHARSET "ISO-8859-1";
* {
	margin: 0;
}

html, body {
	height: 100%;
}

.wrapper {
	height: 100%;
}

.no-close .ui-dialog-titlebar-close {display: none }
.no-close .ui-dialog-buttonpane .ui-dialog-buttonset { text-align: center; float: none; } 