@CHARSET "ISO-8859-1";
* {
	margin: 0;
}

html, body {
	height: 100%;
}

td {
	overflow: hidden;
}

.boxsizingBorder {
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

.no-close .ui-dialog-titlebar-close {display: none }
.no-close .ui-dialog-buttonpane .ui-dialog-buttonset { text-align: center; float: none; } 