<div class="modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()" ng-show="!hideClose">×</button>
    <h4>Articles for {{reset.title}}</h4>
  </div>
  <form ng-submit="saveArticleLoads()">
    <div class="modal-body">
      <div class="row-fluid">
        <table style="width: 98%" class="table table-condensed" >
          <thead>
          <tr>
            <th>Article</th>
            <th>Load Type</th>
            <th class="cell-right">Count</th>
            <th></th>
          </tr>
          </thead>
          <tbody>
          <tr class="edit-row table-bordered" ng-repeat="article_load in article_loads" >
            <td style="width: 30%">{{article_load.article_id}}</td>
            <td style="width: 22%" class="edit-cell"><select style="width: 96%" class="edit-cell" ng-model="article_load.load_type"
                ng-options="article_load_type for article_load_type in article_load_types" required></select></td>
            <td style="width: 12%" class="edit-cell"><input style="width: 80%" class="edit-cell cell-right" type="number" ng-model="article_load.count"  min="1"/></td>
            <td style="width: 6%"><a ng-click="deleteArticleLoad($index)" title="Delete Article Load" class="icon-link"><i class="icon-remove"></i></a></td>
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row-fluid">

        <div class="span5">Article to Add</div>
        <div class="span6">
          <select ng-disabled='addDisabled' ng-model="newArticle" ng-options="article.dbo_id for article in articles" required></select>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span5" style="min-height: 132px; padding-top:4px">
          <p><em>{{reset.objects.title}}</em></p>
          <p>{{reset.object.desc}}</p>
          <h6>Source Area</h6>
          <select ng-model="areaId" ng-change="changeArea()" ng-options="tempAreaId for tempAreaId in areaList" required></select>
        </div>
        <div class="span4">
          <button type="button" ng-click="addArticleLoad()" ng-disabled='addDisabled' class="btn btn-mini btn-success">Add</button>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button class="btn btn-success">Update Article Loads</button>
      <button type="button" ng-click="dismiss()" class="btn">Cancel</button>
    </div>
  </form>
</div>