<div class="modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()">×</button>
    <h4>Copy {{objLabel}} {{copyFromId}}</h4>
  </div>
  <form ng-submit="submitNewObject()" >
    <div class="modal-body">
      <label>{{objLabel}} Id</label>
      <input type="text" ng-model="newModel.dbo_id" ng-change="dialog.newExists = false" required="true"/>
      <div class="alert alert-error" ng-show="dialog.newExists">
        <button type="button" class="close" ng-click="dialog.newExists = false">×</button>
        {{objLabel}} with id {{newModel.dbo_id}} already exists.
      </div>
      <div ng-include="copyObjectInclude"></div>
    </div>
    <div class="modal-footer">
      <button class="btn btn-success">Copy {{objLabel}}</button>
      <button ng-click="dismiss()" class="btn">Cancel</button>
    </div>
  </form>
</div>
