<div class="modal" style="min-width: 650px" ng-controller="storeFeatureController">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()">×</button>
    <h4>Store -- Room {{room.dbo_id}}</h4>
  </div>
  <form ng-submit="finishEdit()">
    <div class="modal-body">
      <div class="row-fluid">
        <div class="span6">
          <label>Store Title</label>
          <input class="input" type="text" ng-model="store.title" required>
        </div>
        <div class="span6" ng-controller="lmAreaSelectorController">
          <label>Source Area</label>
          <select class="span10" ng-model="selectedArea" ng-change="selectArea()" ng-options="area as area.dbo_id for area in selectAreaList"></select>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <label>Store Description</label>
          <textarea class="span11" ng-model="store.desc" rows="4"></textarea>
        </div>
        <div class="span6">
          <label>Currency</label>
          <strong>{{currency()}}</strong>

          <div class="spacer"></div>
          <div class="row-fluid">
            <div class="span8">
              <select class="span8" ng-model="newCurrency" ng-options="article.dbo_id as article.dbo_id for article in currencyList"></select>
            </div>
            <div class="offset1 span3">
              <button type="button" ng-click="updateCurrency()" class="btn btn-mini btn-success">Update</button>
            </div>
          </div>
        </div>
      </div>
      <div class="row-fluid">
        <div class="span6">
          <label title="Percent markup for standard value">Markup</label>
          <input class="input-small" type="number" ng-model="store.markup" required="true" min="0"/>
          <label title="Percent discount paid for items below standard value">Discount</label>
          <input class="input-small" type="number" ng-model="store.discount" required="true" min="0"/>
        </div>

        <div class="span6">
          <label>Permanent Inventory</label>

          <div class="row-fluid" ng-repeat="article in store.perm_inven">
            <div class="span10">{{article}}</div>
            <div class="offset1 span1"><a ng-click="removePerm(article)"><i class="icon-remove"></i></a></div>
          </div>
          <div class="row-fluid">
            <div class="span8">
              <select class="span8" ng-model="newPerm" ng-options="article.dbo_id as article.dbo_id for article in permList"></select>
            </div>
            <div class="offset1 span3">
              <button type="button" ng-disabled="permExists()" ng-click="addPerm()" class="btn btn-mini btn-success">Add</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="modal-footer">
      <button ng-disabled="hasError" class="btn btn-success">Update Store</button>
      <button ng-click="dismiss()" class="btn">Cancel</button>
    </div>
  </form>
</div>
