<div class="modal">
    <div class="modal-header">
        <button type="button" class="close" ng-click="dismiss()" ng-show="!hideClose">×</button>
        <h4>Create New Room (Area: {{areaId}})</h4>
    </div>
    <form ng-submit="submitNewObject()" >
        <div class="modal-body">
            <label>Room Id</label>
            <input type="number" ng-model="newModel.id" ng-change="newExists = false" required="true"/>
            <div class="alert alert-error" ng-show="newExists">
                <button type="button" class="close" ng-click="roomExists = false">×</button>
                Room id already in use.
            </div>
            <label>Room Title</label>
            <input type="text" ng-model="newModel.title" required="true"/>
            <label>Room Description</label>
            <textarea rows="8" style="width: 90%" ng-model="newModel.desc"></textarea>
        </div>
        <div class="modal-footer">
            <button class="btn btn-success">Create Room</button>
            <button ng-click="dismiss()" class="btn">Cancel</button>
        </div>
    </form>
</div>
