<div class="modal">
  <div class="modal-header">
    <button type="button" class="close" ng-click="dismiss()">×</button>
    <h4>Create New Article (Area: {{selectedAreaId}})</h4>
  </div>
  <form ng-submit="submitNewModel()">
    <div class="modal-body">
      <div class="row-fluid">
        <div class="span6">
          <label>Article Id</label>
          <input class="input-small" type="text" ng-model="newModel.id" required="true"/>
        </div>
        <div class="span6">
          <label>Article Level</label>
          <input class="input-small" type="number" ng-model="newModel.level" required="true" min="1"/>
        </div>
        <div class="row-fluid">
          <div class="span6">
            <label>Article Title</label>
            <input type="text" ng-model="newModel.title" required="true"/>
          </div>
          <div class="span6">
            <label>Article Weight</label>
            <input class="input-small" type="number" ng-model="newModel.weight" required="true"/>
          </div>
        </div>
        <div class="row-fluid">
          <label>Article Description</label>
          <textarea rows="8" style="width: 90%" ng-model="newModel.desc"></textarea>

        </div>
      </div>
    </div>

    <div class="alert alert-error" ng-show="dialog.newExists">
      <button type="button" class="close" ng-click="dialog.newExists = false">×</button>
      Article {{newModel.id}} already in use.
    </div>

    <div class="modal-footer">
      <button class="btn btn-success">Create Article</button>
      <button ng-click="dismiss()" class="btn">Cancel</button>
    </div>
  </form>
</div>
