<div class="friend-req" style="display: inline-block" ng-controller="FriendReqCtrl">
  <div style="width:98%;; padding:0; display: inline;">
    <span style="font-size: 12px;">{{msgTime(msg)}}</span>
    <button type="button" class="close" ng-click="respond('decline')">×</button>
  </div>
  <h5>{{msg.content.friend_name}} wants to be your friend.</h5>
  <div style="display: inline; margin-left:30px">
    <button class="btn btn-xs btn-info" ng-click="respond('accept')">Accept</button>
    <button class="btn btn-xs btn-default" ng-click="respond('decline')">Decline</button>
    <button class="btn btn-xs btn-danger" ng-click="respond('block')">Block</button>
  </div>
</div>