* {
    margin: 0;

}

html, body {
    height: 100%;
    overflow-y: hidden;
}

#powered-link {
    padding-top: 17px;
    font-style: italic;
    font-size: 11px;
}

.main-display {
    height: 96%;
}

div.v-full {
    height: 100%;
}

div.telnet {
    height: 78%;
    overflow-y: scroll;
    margin-bottom: 1.5%;
}

div.telnet-input {
    height: 20%;
}

.telnet-input textarea {
    width: 98%;
    height: 98%;
}

.icon-gray {

  opacity: 0.5;
}

.default-cursor {
  cursor: default;
}

.form-padding {
  margin-top: 8%;
}

.table tbody tr.warning td {
  background-color: #fcf8e3;
}

td.cell-right, th.cell-right, input.cell-right {
  padding-left: 5px;
  text-align: right;
}

td.cell-centered {
  text-align: center;
}

tr.edit-row {
  padding-bottom: 1px;
  padding-top: 2px;
}

td.edit-cell, input.edit-cell[ng-model] {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  min-height: 26px;
}

.no-border {
  border-style: none;
}

a.icon-link {
  padding-left: 4px;
  padding-right: 4px;
}

div.column-button {
  padding-top: 6px;
}




