* {
    margin: 0;

}

html, body {
    height: 100%;
    overflow-y: hidden;
}

#powered-link {
    padding-top: 17px;
    font-style: italic;
    font-size: 11px;
}

.main-display {
    height: 96%;
}

div.v-full {
    height: 100%;
}

div.telnet {
    height: 78%;
    overflow-y: scroll;
    margin-bottom: 1.5%;
}

div.telnet-input {
    height: 20%;
}

.telnet-input textarea {
    width: 98%;
    height: 98%;
}

.icon-gray {

  opacity: 0.5;
}

.default-cursor {
  cursor: default;
}

.form-padding {
  margin-top: 8%;
}

.table tbody tr.warning td {
  background-color: #fcf8e3;
}

.table tbody tr.highlight td {
  background-color: khaki;
}

td.cell-right, th.cell-right, input.cell-right {
  padding-left: 5px;
  text-align: right;
}

td.cell-centered {
  text-align: center;
}

tr.edit-row {
  padding-bottom: 1px;
  padding-top: 2px;
}

td.edit-cell, input.edit-cell[ng-model] {
  margin: 0;
  padding-top: 1px;
  padding-bottom: 1px;
  min-height: 26px;
}

.no-border {
  border-style: none;
}

a.icon-link {
  padding-left: 4px;
  padding-right: 4px;
}

div.column-button {
  padding-top: 8px;
}

*.use-ellipses {
  overflow: hidden;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  white-space: nowrap;
}

*.unselectable {
  cursor: default;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

div.wrapper, table.wrapper {
  height: 100%;
}

div.scrollable {
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden
}

.modal-backdrop {
  opacity: 0.1;
}

@media (min-width:768px) {
  body .modal.medium {
    width: 60%;
    margin-left:-30%;
  }
}

hr {
    padding: 0;
    border: none;
    border-top: medium double #333;
    color: #333;
    text-align: center;
}
hr:after {
    content: "ยง";
    display: inline-block;
    position: relative;
    top: -0.15em;
    font-size: .25em;
    padding: 0 0.1em;
    background: white;
}



