<!DOCTYPE html>
<html lang="en" ng-app="lampost" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="utf-8">
  <title>Lampost Mud</title>
  <script src="lib/jquery-1.8.0.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/angular.js"></script>
  <link href="lib/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="css/lampost.css" rel="stylesheet">
</head>

<body ng-cloak >
<div ng-controller="NavController" id="lm-navbar" class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand">{{siteTitle}}</a>
    <ul class="nav">
      <li ng-repeat="link in links | orderBy:'priority'" ng-class="link.class()">
        <a ng-click="changeLocation(link.name)">{{link.label}} <i ng-class="link.iconClass()"></i></a>
      </li>
    </ul>
    <div class="pull-right">
        <div>{{welcome}}</div>
        <div class="pagination-right">
          <a class="pagination-right" id="powered-link" href="https://github.com/genzgd/Lampost-Mud" target="_blank">Powered by Lampost</a>
        </div>
     </div>
  </div>
</div>
<div ng-view ng-style="gameHeight"></div>

<script src="app/services.js"></script>
<script src="app/directives.js"></script>
<script src="app/app.js"></script>
<script src="app/data.js"></script>
<script src="app/editor.js"></script>
<script src="app/settings.js"></script>
<script src="app/rooms_editor.js"></script>
<script src="app/mobiles_editor.js"></script>
<script src="/lsp/config.js"></script>
</body>
</html>